<%= render 'templates/flash' %>

<div class="container px-0 mt-3">
  <div class="row">
      <%= render partial: 'templates/template', locals: {book: @book, user: @user} %>
    
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td class="col-5">
                <%= link_to(user_path(@user)) do %>
                  <%= image_tag book.user.get_profile_image(80, 80) %>
                <% end %>
              </td>
              <td class="col-3">
                <%= link_to book_path(book) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td col="4">
                <%= book.body %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>