<%= render 'templates/flash' %>

<div class="container px-0 mt-3">
  <div class="row">
    <%= render partial: 'templates/template', locals: {book: @new_book, user: @user} %>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to(user_path(@user)) do %>
                <%= image_tag @book.user.get_profile_image(100, 100) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to(book_path(@book)) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <% if @user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success px-2 py-1" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-danger px-2 py-1" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>